{% extends "master.html" %}

{% block title %}
Listado de Telefonos
{% endblock %}

{% block content %}
<h2>Listado de Telefonos</h3>

    <table id="tabla_datos">

        <thead>
            <tr>
                <th>Numero Telefonico</th>
                <th>ver</th>
                <th>editar</th>
                <th>Operadora</th>
                <th>Tipo</th>
                <th>Estudiante</th>
            </tr>
        </thead>

        {% for n in NumeroTelefonico %}
        <tr>
            <td> {{n.telefono}} </td>
            <td> <a href="{% url 'obtener_telefono' n.id %}">ver</a> </td>
            <td> <a href="{% url 'editar_numero_telefonico' n.id %}">editar</a> </td>
            <td> {{n.obtenerOperadora}} </td>
            <td> {{n.tipo}} </td>
            <td> {{n.estudiante}} </td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabla_datos').DataTable();
        });
    </script>

    {% endblock %}